# Credenciales
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Salidas
output/
*.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Screenshots de errores
screenshots/

